@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme{
    --color-primary: #FBFBFB;
    --color-secondary: #393E46;
    --color-accent: #483AA0;
    --font-family: 'Poppins', sans-serif;
}
